.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    animation: spinner 1.2s infinite linear;
    width: 40px;
    height: 40px;
}

.circle {
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: aqua;

}

.loader :nth-child(1) {
    opacity: 1;
    animation: opacity-transform-1 3s infinite linear;
}

.loader :nth-child(2) {
    opacity: 0.75;
    animation: opacity-transform-2 3s infinite linear;
}

.loader :nth-child(3) {
    opacity: 0.5;
    animation: opacity-transform-3 3s infinite linear;
}

.loader :nth-child(4) {
    opacity: 0.25;
    animation: opacity-transform-4 3s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}

@keyframes opacity-transform-1 {
    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity-transform-2 {
    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.75;
    }
}

@keyframes opacity-transform-3 {
    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes opacity-transform-4 {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.25;
    }
}