.tv-maze-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    max-width: 200px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

    &--img {
        object-fit: contain;
        width: 100%;
        height: auto;
        min-height: 250px;
        line-height: 280px;
        text-align: center;
        font-size: 0.75em
    }

    &--content {
        padding: 20px;
    }

    &--title {
        font-size: 1em;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    &--summary {
        font-size: 0.7em;
        color: #666;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        max-height: 4.5em;
        min-height: 4.5em;
    }
}

.tv-maze-card--img.blurred {
    filter: blur(10px);
}