* {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;

}